body
{	
  margin:0px;
  padding: 0px; 
  font-family: 'Roboto', sans-serif;                                                                                                                                          
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.no-pad{
    padding:0px !important; 
}
.mailbox .message-center a .mail-contnet {
    padding-left: 10px;
}
.section-3-2 h2 {
    color: #363636;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
}
.section-6-1 {
    background: #f1f4fb;
    padding: 30px 40px 30px 40px;
    height: 100vh;
}
.section-6-2 h2 {
    color: #363636;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
}
.section-6-3 .card {
    border: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 5%);
}
.section-6-3 .card-body {
    padding: 50px 35px 50px 35px!important;
}
.section-6-3 .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 0px;
}
.section-6-3 label {
    position: absolute;
    background: white;
    margin-left: 70px;
    margin-top: -14px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: auto;
    text-align: center;
}
.section-6-3 button.btn-2 {
    background: #17263A;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 40px;
    border: 2px solid #17263A;
    border-radius: 5px;
    margin-left: 15px !important;
}
.section-6-3 .form-control {
    border-radius: 9px;
    color: #9A9A9A;
    min-height: 70px;
    display: initial;
    border: 2px solid #E7E7E7;
    font-size: 18px;
    padding: 0.375rem 4.5rem !important;
    margin-bottom: 20px;
}
.section-6-4 i {
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    background: #3763D2;
    color: white;
    padding: 13px 14px;
    border-radius: 9px;
    font-size: 29px;
}
.section-6-5 i {
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    background: #F8468D;
    color: white;
    padding: 13px 14px;
    border-radius: 9px;
    font-size: 29px;
}
.section-6-6 i {
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    background: #026EAA;
    color: white;
    padding: 13px 14px;
    border-radius: 9px;
    font-size: 29px;
}
.section-6-7 i {
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    background: #3FB5F8;
    color: white;
    padding: 13px 14px;
    border-radius: 9px;
    font-size: 29px;
}
.section-6-8 i {
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    background: #10B118;
    color: white;
    padding: 13px 14px;
    border-radius: 9px;
    font-size: 29px;
}
.section-6-9 i {
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    background: #1C93E4;
    color: white;
    padding: 13px 14px;
    border-radius: 9px;
    font-size: 29px;
}
.section-3-13 {
    padding-top: 50px;
}
.section-3-14 h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 10px;
}
.section-3-15 {
    text-align: right;
}
.section-3-15 .pagination {
    display: inline-block;
    background: white;
}
.section-3-15 .pagination a {
    color: black;
    float: left;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 18px;
}
.section-3-15 .pagination a.active {
  background-color:#242E3A;
  color: white;
}

.section-3-15 .pagination a:hover:not(.active) 
{
    background-color:
 #242E3A; color:white;
}
.section-3-16 .card {
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
}
.section-3-16 .card-body {
    padding: 20px 20px 5px 20px !important;
}
.section-3-16 label {
    position: absolute;
    background: white;
    margin-left: 35px;
    margin-top: -14px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: auto;
    text-align: center;
    z-index: 99;
}
.section-3-16 .form-control {
    border-radius: 9px;
    color: #9A9A9A;
    min-height: 65px;
    display: initial;
    border: 2px solid #E7E7E7;
    font-size: 18px;
    padding: 0.375rem 1.1rem !important;
    margin-bottom: 20px;
}
.section-3-16 .form-row {
    padding-bottom: 25px;
}
.section-3-16 button {
    background: #17263A;
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
}
.section-3-17 {
    background: #f1f4fb;
    padding: 30px 40px 30px 40px;
    height: 100vh;
}
button.section-3-18 {
    background: #E3F7E3;
    border: 0;
    color: #71D875;
    padding: 5px 28px;
    font-size: 18px;
    border-radius: 30px;
}
.file-upload-cs .card-body {
    padding: 0px !important;
}
.section-3-19 {
    margin-top: 20px;
}
thead.thead-dark.section-3-20 th {
    background: white;
    padding-top: 20px;
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 500;
}




.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.section-1-20 .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.section-1-20 .accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.section-1-20 .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.section-1-20 .accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.section-1-20 .accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.section-1-20 .accordion-content {
    background: #14062d !important;
    padding: 0px 20px 0px 20px !important;
    border-radius: 0px 0px 12px 12px !important;
    color: #a19bab !important;
    font-size: 18px;
    border: transparent !important;
    border-top: 0px !important;
    border-right: transparent; !important;
    border-left: transparent; !important;
    border-bottom: transparent; !important;
}

.section-1-20 .accordion-content {
    background: white !important;
    padding: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 20px 20px;
    color: white;
    font-size: 18px;
    border: 1px solid #2e1e49;
    border-top: 0px;
}

.section-1-20 .accordion button[aria-expanded='true'] {
    border-top:  transparent !important;
    border-radius: 12px 12px 0px 0px !important;
    border-right: transparent !important;
    border-left:  transparent !important;
    border-bottom: transparent !important;
}
.section-1-20 .accordion button[aria-expanded='true'] {
    background: white !important;
}

.section-1-20 .accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.section-1-20 .accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.section-1-20 .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 20em;
    transition: all 500ms linear;
    will-change: opacity, max-height;
    overflow-y:  scroll;
}
.section-1-20 .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.section-1-20 .accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
}
.section-1-20 button#accordion-button-1 {
    background-color: white;
    height: 60px;
    padding: 20px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    color: #263871;
    font-weight: bold;
    margin-bottom: 0px;
}
.section-1-20 #accordion-button-1:focus 
{
    outline: none;
}

.section-1-20 .accordion-item 
{
    padding-bottom: 20px !important;
}
.section-1-20 span.icon 
{
    margin-right: 20px;
    margin-top: 4px;
}

.section-1-20 .accordion button[aria-expanded='true'] 
{
    color: white;
}
.section-1-21 {
    padding: 0px 20px;
    border-top: 1px solid #f8f9fa;
    border-bottom: 1px solid #f8f9fa;
}
.section-1-22 h2 {
    margin: 0;
    font-size: 15px;
    color: #263871;
    font-weight: 500;
}
.section-1-23 h2 {
    margin: 0;
    font-size: 15px;
    color: #263871;
    font-weight: 500;
    text-align: right;
}
.section-1-24 h2 {
    color: #263871;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}
.section-1-24 p {
    color: #263871 !important;
    font-size: 12px !important;
    margin: 0 !important;
    font-weight: 400 !important;
    padding-bottom: 8px;
}
.section-1-25 {
    text-align: right;
    padding-top: 20px;
}
.section-1-26 h2 {
    color: #263871;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    line-height: 25px;
    display: inline;
    padding-left: 5px;
}

.section-1-26 p {
    color: #263871 !important;
    margin: 0 !important;
    font-weight: 400 !important;
    padding-bottom: 8px;
    margin-left: 55px !important;
    font-size: 12px !important;
    margin-top: -15px !important;
}
.section-1-26 img {
    width: 15%;
    display: inline;
    margin-top: 10px;
    border-radius: 40px !important;
}
.section-1-27 {
    text-align: right;
    padding-top: 10px;
}

.section-1-28 h2 {
    color: #263871;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    line-height: 20px;
    padding-top: 10px;
}
.section-1-28 p {
    color: #263871 !important;
    font-size: 13px !important;
    margin: 0 !important;
    font-weight: 400 !important;
    padding-bottom: 8px;
}
.section-1-29 h3 {
    padding: 11px 10px;
    background: #e6faf4;
    text-align: center;
    color: #59d198;
    font-size: 13px;
    line-height: 16px;
    border-radius: 50px;
    margin-right: 38px !important;
    margin-bottom: 0;
}
.section-1-30 {
    padding: 10px 20px;
    border-top: 1px solid #f8f9fa;
    border-bottom: 1px solid #f8f9fa;
}
.section-1-31 h2 {
    font-size: 15px !important;
    color: #8f8f8f;
    text-align: right;
    margin: 0;
}
.section-1-31 h2:hover {
    color: #ff1e25 !important;
}
.section-1-32 h3 {
    padding: 10px 10px;
    background: #f6edfd;
    text-align: center;
    color: #cd81ef;
    font-size: 15px;
    line-height: 17px;
    border-radius: 50px;
    margin-right: 38px;
    margin-bottom: 0;
}
.section-1-33 h3 {
    padding: 10px 10px;
    background: #fff9e7;
    text-align: center;
    color: #fbc818;
    font-size: 15px;
    line-height: 17px;
    border-radius: 50px;
    margin-right: 38px;
    margin-bottom: 0;
}
.section-1-34 {
    background: white;
    padding: 20px;
    border-radius: 15px;
}
.section-1-36 h3 {
    font-size: 15px;
    color: #263871;
    font-weight: 400;
    padding-top: 10px;
    margin: 0;
}
.section-1-36 h2 {
    font-size: 30px;
    color: #263871;
    font-weight: 600;
    margin: 0;
    line-height: 20px;
}
.section-1-34 .btn.btn-1 {
    margin-top: 20px;
    background: #4caf50;
    color: white;
    font-size: 16px !important;
    margin-left: 15px;
    padding: 10px 90px;
}
button.btn.btn-default.clockOut {
    background: #ff1e25 !important;
    padding: 12px 16px !important;
    border: 0 !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 7px !important;
    margin-right: 0px !important;
}








.btn-default {
    color: #ff1e25!important;
    border-radius: 6px;
    font-size: 15px;
    padding: 8px 17px;
    border: 1px solid #ff1e25;
}
.btn-default:hover {
    background: #ff1e25;
    color: white !important;
}
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #dee5f7 !important;
}
 
::-webkit-scrollbar-thumb {
  background-color: #17263A;
  outline: 1px solid slategrey;
      border-radius: 15px;
}




@media screen and (max-width:2133.33px) and (min-width:680.00px) {




}






@media screen and (max-width:1745.45px) and (min-width:521.82px) { 

.section-1-29 h3 {
    padding: 10px 10px !important;
    margin-right: 25px !important;
}
.section-1-26 p {
    margin-left: 50px !important;
}
.section-1-28 h2 {
    font-size: 14px !important;
}
.section-1-31 h2 {
    font-size: 14px !important;
}
.btn-default {
    font-size: 14px !important;
}
.section-1-36 h3 {
    padding-top: 5px !important;
}
.section-1-15 {
    padding-top: 60px !important;
}
.section-1-8 img {
    margin-top: -160px !important;
}
.section-1-14 h2 {
    padding-top: 5px !important;
}


}









@media screen and (max-width:1536px) and (min-width:364px) { 

.section-1-10 button {
    font-size: 12px !important;

}
button.btn.btn-default.clockOut {
    font-size: 12px !important;
}
.section-1-8 img {
    margin-top: -130px !important;
}
.section-1-9 h2 {
    font-size: 18px !important;
}
.section-1-9 p {
    font-size: 12px !important;
}
.section-1-15 {
    padding-top: 50px !important;
}
.section-1-14 h2 {
    font-size: 10px !important;
    line-height: 20px !important;
    padding-top: 0px !important;
}
.section-1-14 p {
    font-size: 25px !important; 
}
.section-1-24 p {
    font-size: 10px !important;
}
.section-1-24 h2 {
    font-size: 12px !important;
}
.btn-default {
    font-size: 11px !important;
}
.section-1-20 button#accordion-button-1 {
    font-size: 17px !important;
}
.section-1-26 h2 {
    font-size: 13px !important;
}
.section-1-26 p {
    margin-left: 43px !important;
    margin-top: -12px !important;
    font-size: 10px !important;
}
.section-1-29 h3 {
    padding: 8px 10px !important;
    margin-right: 15px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}
.section-1-28 h2 {
    font-size: 12px !important;
    padding-top: 5px !important;
}
.section-1-31 h2 {
    font-size: 11px !important;
}
.section-1-22 h2 {
    font-size: 14px !important;
}
.section-1-23 h2 {
    font-size: 14px !important;
}
.section-1-28 p {
    padding-bottom: 0px !important;
}
.section-1-36 h3 {
    padding-top: 0px !important;
}
.section-1-36 h2 {
    font-size: 25px !important;
    line-height: 11px !important;
}
}




@media screen and (max-width:1280px) and (min-width:303.33px) { 


.section-1-9 h2 {
    font-size: 15px !important;
}
.section-1-8 img {
    margin-top: -100px !important;
}
.section-1-9 p {
    font-size: 11px !important;
}
.section-1-10 button {
    font-size: 9px !important;
     padding: 10px 17px !important;
}
button.btn.btn-default.clockOut {
    font-size: 9px !important;
    padding: 10px 17px !important;
}
.section-1-15 {
    padding-top: 40px !important;
}
.section-1-12 {
    padding: 15px 5px 15px 0px !important;
    border-radius: 10px !important;
}
.section-1-14 h2 {
    font-size: 7px !important;
    line-height: 15px !important;
}
.section-1-14 p {
    font-size: 17px !important;
    padding-top: 7px !important;
}
.section-1-16 p {
    font-size: 14px !important;
    padding-bottom: 60px !important;
}
.section-1-20 button#accordion-button-1 {
    font-size: 14px !important;
}
.section-1-23 h2 {
    font-size: 10px !important;
    line-height: 25px !important; 
}
.section-1-22 h2 {
    font-size: 10px !important;
   line-height: 25px !important; 
}
.section-1-24 h2 {
    font-size: 9px !important;
    line-height: 25px !important;
}
.section-1-24 p {
    font-size: 9px !important;
}
.section-1-26 h2 {
    font-size: 9px !important;
}
.section-1-26 p {
    margin-left: 35px !important;
    margin-top: -9px !important;
    font-size: 9px !important;
}
.btn-default {
    font-size: 9px !important;
    padding: 5px 8px !important;
}
.section-1-27 {
    padding-top: 5px !important;
}
.section-1-29 h3 {
    padding: 6px 10px !important;
    margin-right: 0px !important;
    font-size: 10px !important;
    line-height: 14px !important;
}
.section-1-28 h2 {
    font-size: 9px !important;
}
.section-1-28 p {
    font-size: 10px !important;
    padding-bottom: 0px !important;
    line-height: 10px !important;
}
.section-1-31 h2 {
    font-size: 7px !important;
    line-height: 29px !important;
}
.section-1-36 h3 {
    font-size: 10px !important;
    line-height: 14px !important;
}
.section-1-36 h2 {
    font-size: 18px !important;
    line-height: 18px !important;
}
.section-1-34 .btn.btn-1 {
    font-size: 14px !important;
    padding: 10px 90px !important;
}
.section-1-25 {
    padding-top: 5px !important;
}
.section-1-20 button#accordion-button-1 {
    height: 45px !important;
    padding: 13px !important;
    border-radius: 8px ;
}
.section-1-20 .accordion button .icon {
    top: 8px !important;
}
.section-1-30 {
    padding: 5px 20px !important;
}

}










 









/*NEW FIXINGS N*/

.icon-box1 {
    float: left;
    width: 100%;
    background: white;
    padding: 12px 10px 12px 55px;
    border-radius: 10px;
    position: relative;
}
.icon-box1 img {
    position: absolute;
    width: 30px;
    left: 12px;
    top: 18px;
}
.icon-box1 h2 {
    color: #263871;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    margin-bottom: 3px;
}
.icon-box1 p {
    margin: 0px;
    font-weight: 600;
    color: #263871;
    font-size: 20px;
    line-height: 22px;
}



.banner-profile-image {
    float: left;
    position: static;
    width: 100%;
    margin-top: -60px;
}
.banner-profile-image img {
    float: none;
    margin: 0px !important;
    border-radius: 100%;
    width: 100%;
    max-width: 155px;
    margin: auto !important;
    display: block !important;
}
.banner-profile-text h2 {
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 0.6px;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin-bottom: 10px;
}
.banner-profile-text p {
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 13px !important;
}
.banner-profile-text {
    padding-top: 10px;
}


.custom-btn1 {
    padding: 10px 18px !important;
    display: inline-block;
    color: black !important;
    font-weight: 500 !important;
}


.custom-btn2 {
    padding: 10px 18px !important;
    display: inline-block;
    font-weight: 500 !important;
}

.buttons-holder1 {
    margin-top: 15px;
}

button.custom-btn3 {
    padding: 11px 25px !important;
    border-radius: 5px !important;
    letter-spacing: 0.1px;
}

p.para-text1 {
    padding: 0px !important;
    margin: 0px 0px 15px 0px;
    line-height: 26px;
    letter-spacing: 0.1px;
}
.section-1-20 button#accordion-button-1 {
    height: auto !important;
    padding: 16px 15px !important;
}
.section-1-20 .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}
.section-1-20 .accordion button .accordion-title {
    padding: 0px 0px;
    display: block;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.card-textual {
    padding-left: 55px;
    position: relative;
}

.card-textual img {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
}

 
.card-textual p {
    padding: 0px !important;
    margin: 0px !important;
}
.card-textual h2 {
    line-height: 18px;
    margin-top: 8px;
    display: block;
    padding: 0px !important;
}

.card-textual-btn a {
    padding: 5px 0px;
    display: block;
    width: 100%;
}

.card-textual-btn {
    padding: 0px;
}

.center-row1 {
    align-items: center;
}
.birth-card {
    padding: 10px 10px;
}
.holiday-date h3 {
    border-radius: 100%;
    font-size: 12px !important;
    width: 50px;
    height: 50px;
}
.holiday-title h2 {
    font-weight: 600;
    font-size: 13px !important;
    line-height: 15px !important;
    margin-bottom: 2px !important;
}
.holiday-desc h2 {
    display: block;
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: left;
}
.custom-btn4 {
    width: 100%;
    margin: 20px 0px 0px 0px !important;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.awards-textual h3 {
    line-height: 24px;
    margin-bottom: 4px !important;
}


.banner-profile-image2 {
    margin: 0px !important;
    width: 100% !important;
    margin-top: -70px !important;
}


.banner-profile-image2 form {
    width: 100% !important;
    padding: 0px 10px !important;
}
.banner-profile-image2 .circle {
    width: 155px;
    height: 155px;
    margin: auto;
    display: block;
}

.banner-profile-image2 .p-image {
    margin: 0px;
    position: absolute;
    right: 0%;
    bottom: 5px;
    top: auto;
}
.upload-button {
    font-size: 17px;
    background: white;
    padding: 8px;
    border-radius: 20px;
}
.banner-profile-title2 h2 {
    font-size: 22px !important;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin-bottom: 8px !important;
    padding-left: 0px;
}

 .banner-profile-title2 h3 {
    font-size: 15px !important;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding-left: 0px;
}

.section-2-6 .card-body {
    padding: 40px 30px 0px 30px!important;
}
.banner-profile-image2 .profile-pic {
    width: 230px;
    max-height: 230px;
    display: inline-block;
    border-radius: 100%;
    border: 5px solid rgba(23, 38, 58, 0.6);
}


.block-element {
    float: left;
    width: 100%;
}



.container-fluid select.field-style2, .container-fluid input.field-style2 {
    height: 62px !important;
    font-size: 16px !important;
    letter-spacing: 0.4px;
    color: #9A9A9A !important;
    border: 2px solid #E7E7E7 !important;
    padding: 0px 10px 0px 70px !important;
}

label.label-tag1 {
    position: absolute;
    background: white;
    margin-left: 35px;
    margin-top: -12px;
    font-weight: 400 !important;
    width: auto;
    text-align: center;
    z-index: 9;
    padding: 1px 7px;
    font-size: 16px !important;
    letter-spacing: 0.3px;
    color: #757575 !important;
}





h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto" !important;
}


.step-head h2 {
    padding: 0px 36px;
    font-size: 21px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}




.custom-btn6 {
    background: #17263A !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 400;
    padding: 12px 38px !important;
    border: 1px solid #17263A !important;
    border-radius: 4px !important;
    margin-right: 0px !important;
    display: inline-block !important;
    min-width: 125px !important;
    text-align: center;
}

.custom-btn5 {
    background: none !important;
    color: #474747 !important;
    font-size: 16px !important;
    font-weight: 400;
    padding: 12px 38px !important;
    border: 1px solid #B1B1B1 !important;
    border-radius: 4px !important;
    margin-right: 0px !important;
    display: inline-block !important;
    min-width: 125px !important;
    text-align: center;
}



.custom-btn5:hover , .custom-btn6:hover {
    background:black !important;
    color:white !important;
    border:1px solid black !important;
}


.page-title-text1 {
    padding: 0px 30px !important;
    font-size: 28px !important;
    letter-spacing: 0.5px;
    margin-bottom: 35px !important;
    margin-top: 15px !important;
    font-weight: 700 !important;
}

.page-title-text3 {
    padding: 0px 20px !important;
    font-size: 28px !important;
    letter-spacing: 0.5px;
    margin-bottom: 5px !important;
    margin-top: 15px !important;
    font-weight: 700 !important;
}
p.page-para-text1 {
    font-size: 18px !important;
    letter-spacing: 0.3px;
}


label.label-tag2 {
    position: absolute;
    background: white;
    margin-left: 65px;
    margin-top: -12px;
    font-weight: 400 !important;
    width: auto;
    text-align: center;
    z-index: 9;
    padding: 1px 7px;
    font-size: 16px !important;
    letter-spacing: 0.3px;
    color: #757575 !important;
}



.page-title-text2 {
    font-size: 26px !important;
    letter-spacing: 0.5px;
    font-weight: 700 !important;
    padding-left: 10px !important;
}
thead.thead-dark.section-3-6 th {
    background: white;
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 16px;
    letter-spacing: 0.3px;
}

.section-3-7 td {
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #999292;
    vertical-align: bottom;
}





.form-holder1 {
    display: flex;
    align-items: center;
    justify-content: end;
}
.form-holder1 .section-3-3 {
    width: 55%;
    margin-right: 12px;
}
.section-3-4 button {
    padding: 11px 10px;
}

.section-3-7 td p {
    margin: 0px;
}

.sec-head2 h3 {
    color: #17263A;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.sec-head2 ul {
    padding: 0px;
    list-style: none;
    display: flex;
    grid-gap: 8px;
}
.sec-head2 ul li {
    color: #7B7B7B;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.sec-head2 ul li a {
    color: #17263A;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.sec-head2 {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
}
.custom-border1 {
    border: 1px solid #7A7A7A;
    padding: 18px 15px;
    border-radius: 5px;
}

.timeline-sheet-head {
    float: left;
    width: 100%;
    margin-bottom: 18px;
}


.timeline-sheet-head h5 b {
    color: #1C1C1C;
    font-size: 16px;
}

 
.timeline-sheet-head h5 {
    color: #6C6C6C;
    margin: 0px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 15px;
}


.art-tag {
    float: left;
    width: 100%;
    background: #E8E8E8;
    border-radius: 5px;
    padding: 12px 15px;
}


.art-tag h5 {
    color: #1C1C1C;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 15px;
    margin-bottom: 5px;
}


.art-tag p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.timeline-hours {
    float: left;
    width: 100%;
    text-align: center;
    margin: 18px 0px;
}

.timeline-hours span {
    background: #E8E8E8;
    border: 4px solid #D8D8D8;
    border-radius: 100%;
    display: inline-block;
    width: 120px;
    height: 120px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #373737;
    font-weight: 500;
    letter-spacing: 0.3px;
}


.custom-btn7 {
    background: #FEC200;
    color: white;
    border: none;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}


.timeline-tags {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.break-tag {
    background: #EDEDED;
    text-align: center;
    border: 1px solid #E1E1E1;
    padding: 5px 25px;
    font-size: 13px;
    font-weight: 400;
    color: black;
    line-height: 17px;
    border-radius: 5px;
}

.progress-bg1 {
    background:#55CE63 !important;
}
.progress-bg2 {
    background:#FEC200 !important;
}
.progress-bg3 {
    background:#7F63F4 !important;
}
.progress-bg4 {
    background:#FF0008 !important;
}
.progress-bg5 {
    background:#009EFB !important;
}

.progress-1 {
    float: left;
    width: 100%;
    height: auto;
    display: block;
    line-height: normal;
    background: none;
    margin-bottom: 18px;
}


.progress-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}


.progress-label b {
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #5B5B5B;
    font-weight: 500;
}



.progress-label span {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #2D2D2D;
    font-weight: 500;
}
.progress-bar-bg {
    width: 100%;
    background: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
}
.progress-1 .progress-bar {
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.search-form1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 12px;
}
.search-form1>div {
    width: 25%;
    margin-bottom: 15px;
}


.field-style3 {
    width: 100%;
    display: block;
    color: black;
    border: 1px solid #DADADA;
    font-size: 14px;
    padding: 0px 10px;
    height: 45px;
    font-weight: 400;
    border-radius: 5px;
}

.submit-btn1 {
    width: 100%;
    background: #71D875;
    border: none;
    height: 44px;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.5px;
}

.table-wrapper {
    float: left;
    width: 100%;
}
table.table-1 {
    width: 100%;
    border: 1px solid #DADADA;
}

table.table-1 th {
    color: black;
    background: white;
    padding: 12px 15px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3px;
}
table.table-1 td {
    color: #424242;
    background: white;
    padding: 12px 15px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.table-1 tr:nth-child(odd) td {
    background:#ECECEC;
}

.submit-btn1:hover {
    background:#17263A;
}



/*Event Calendar CSS*/
.event-title .title-content {
    position: static;
    width: 100%;
    text-align: center;
}
.event-title .title-content button {
    position: absolute;
    top: 12px;
    height: 40px;
    text-align: center;
    width: 140px;
}
.event-title .title-content button#last {
    left: 12px;
}
.event-title .title-content button#next {
    right: 12px;
}
.event-title .title-content span {
    float: left;
    margin: 8px 0 16px 0px;
    width: 100%;
    height: 40px;
}
.event-title .title-content span h1,
.event-title .title-content span h2 {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    width: 100%;
}
.event-title .title-content span h1 {
    font-size: 24px;
    line-height: 32px;
}
.event-title .title-content span h2 {
    font-size: 14px;
}
.ci-cal-container {
    top: 64px;
    position: absolute;
    border: 1px solid #CCC;
    width: 100%;
    height: calc(100% - 64px);}
.ci-cal-container .ci-head {
    top: 0;
    background: #012d73;
    position: absolute;
    width: 100%;
    height: 40px;
}
.ci-cal-container .ci-head div {
    line-height: 40px;
    float: left;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.15);
    text-transform: uppercase;
    height: 100%;
    width: 14.28%;
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
}
.ci-cal-container .ci-head div:last-child {
    border-right: 0px;}
.ci-cal-container .ci-body {
    top: 40px;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
}
.ci-cal-container .ci-body .ci-row {
    clear: both;
    float: left;
    position: relative;
    border-bottom: 1px solid #CCC;
    width: 100%;
    height: 16.6%}
.ci-cal-container .ci-calendar.cal-rows-four .ci-body .ci-row {
    width: 100%;
    height: 25%}
.ci-cal-container .ci-calendar.cal-rows-five .ci-body .ci-row {
    width: 100%;
    height: 20%}
.ci-cal-container .ci-calendar.cal-rows-six .ci-body .ci-row {
    width: 100%;
    height: 16.666%}
.ci-cal-container .ci-body .ci-row:last-child {
    border-bottom: 0;}


.ci-cal-container .ci-body .ci-row .ci-event-row {
    position: absolute;
    left: 0px;
    padding: 3px;
    height: 50%;
    width: 100%;
    z-index: 10;}

    .ci-cal-container .ci-body .ci-row .ci-event-row:nth-child(1) {
        top: 0px;}

    .ci-cal-container .ci-body .ci-row .ci-event-row:nth-child(2) {
        margin-top: -1px;
        top: 50%;}

.ci-cal-container .ci-body .ci-row>div {
    box-shadow: inset 0px 0px 0px 1px white;
    border-right: 1px solid #CCC;
    overflow: hidden;
    float: left;
    height: 100%;
    width: 14.28%;
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
}
.ci-cal-container .ci-body .ci-row>div.empty {
    background: #f5f5f5;
}
.ci-cal-container .ci-body .ci-row>div.empty:before {
    background:url(http://www.transparenttextures.com/patterns/black-twill.png);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.125;
}
.ci-cal-container .ci-body .ci-row>div.ci-today {
    background: #f5f5f5;
}
.ci-cal-container .ci-body .ci-row>div:last-child {
    border-right: 0;
}
.ci-cal-container .ci-body .ci-row>div .ci-date {
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 12px;
}




.ci-event {
    border-radius: 3px;
    border: 1px solid transparent;
    /* box-shadow: inset 0px 0px 0px 1px white; */
    position: absolute;
    padding: 2px 12px;
    height: calc(100% - 5px);
    z-index: 20;}

.end-cap,
.start-cap {

    top: 0.5px;
    z-index: 1;
    position: absolute;

}

.end-cap-border,
.start-cap-border {

    top: -1.75px;
    z-index: 0;
    position: absolute;

}

.end-cap,
.end-cap-border,
.start-cap,
.start-cap-border {

    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;

}

.ci-event.public .end-cap,
.ci-event.public .start-cap {

    border-color: transparent #e6f1cd;

}

.ci-event.public .end-cap-border,
.ci-event.public .start-cap-border {

    border-color: transparent #D1DBBB;

}

.ci-event.private .end-cap,
.ci-event.private .start-cap {

    border-color: transparent #cceff2;

}

.ci-event.private .end-cap-border,
.ci-event.private .start-cap-border {

    border-color: transparent #9FBABD;

}

.ci-event.public {

    background: #e6f1cd;
    border-color: #D1DBBB;

}

.ci-event.private {

    background: #cceff2;
    border-color: #9FBABD;

}

.ci-event label {

    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;

}

@media(max-width:360px) {

 

    .ci-cal-container .ci-body {

        float: left;
        height: auto;
        position: relative;

    }

    .ci-cal-container .ci-body .ci-row {

        border: 0px;
        height: auto !important;

    }

    .ci-cal-container .ci-body .ci-row .ci-event-row {

        top: 0px;
        clear: both;
        float: left;
        height: auto;
        padding: 0px !important;
        margin-top: 0px !important;
        position: relative;

    }

    .ci-cal-container .ci-body .ci-row > div {

        display: none;

    }

    .ci-event {

        float: left;
        position: relative;
        min-height: 100px;
        left: 0px !important;
        margin: 5px !important;
        width: calc(100% - 10px) !important;

    }

    .end-cap,
    .end-cap-border,
    .start-cap,
    .start-cap-border {

        display: none;

    }

}




.ci-cal-container {
    top: 0px;
    position: absolute;
    border: 1px solid #CCC;
    width: 96%;
    height: 100%;
}

.event-title {
    float: left;
    width: 100%;
    background: #E8E8E8;
    padding: 12px 20px !important;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 35px;
}
.event-title .title-content span {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    grid-gap: 6px;
}
.event-title .title-content span h1 {
    font-size: 25px;
    line-height: 32px;
    color: #17263A;
    font-weight: 800;
    text-transform: uppercase;
    float: none;
    width: auto;
}
.event-title .title-content span h2 {
    font-size: 25px;
    line-height: 32px;
    color: #17263A;
    font-weight: 800;
    text-transform: uppercase;
    float: none;
    width: auto;
}

.event-title .title-content {
    position: static;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.event-title .title-content button {
    position: static;
    background: #17263A;
    color: white;
    font-weight: 400;
    letter-spacing: 0.4px;
    border-radius: 4px;
    font-size: 13px;
    padding: 0px;
    width: 100px;
}

 


.ci-cal-container .ci-head {
    background: none;
}


.ci-cal-container .ci-body .ci-row>div {
    box-shadow: none;
 
}


.ci-cal-container .ci-body .ci-row>div .ci-date {
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #17263A;
    font-size: 18px;
}



.ci-cal-container .ci-head div {
    color: #17263A !important;
    background: none !important;
    font-weight: 600;
    letter-spacing: 0.6px;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

.event-title-mobile {
    display: none;
}


.ci-event.public {
    padding: 0px;
    display: block;
}

.ci-event.public label {
    margin: 0px !important;
    font-size: 12px !important;
    color: black;
    font-weight: 400;
}


.event-title .title-content button  {
    font-size: 0px;
    width: 50px;
}



.event-title .title-content button#next::before {
    content: '>';
    font-family: cursive !important;
    color: white;
    font-size: 25px;
    line-height: 25px;
    width: 100%;
    display: block;
    padding-bottom: 5px;
}


.event-title .title-content button#last::before {
    content: '<';
    font-family: cursive !important;
    color: white;
    font-size: 25px;
    line-height: 25px;
    width: 100%;
    display: block;
    padding-bottom: 5px;
}



.ci-event.public {
    padding: 0px;
    display: block;
    height: auto;
    top: 40px;
    margin-left: -3px;
    background: red;
}
.ci-event.public label {
    margin: 0px !important;
    font-size: 12px !important;
    color: white;
    font-weight: 400;
    padding: 0px 5px;
    border: none !important;
}

.ci-cal-container .ci-body .ci-row .ci-event-row:nth-child(2) {
    top: 32px;
}



/*Media Queries Of Website*/

/*Small Laptops*/
@media screen and (max-width:992px) and (min-width:768px) { 
.right-sidebar2 {
    padding: 30px 20px 30px 30px !important;
}
.right-sidebar2>div {
    max-width: 400px;
}
.card-textual {
    padding-left: 50px;
    position: relative;
}
.card-textual h2 {
    font-size: 13px !important;
}
.card-textual p {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px !important;
}
.card-textual-btn a {
    font-size: 12px !important;
}
.section-1-10 button {
    font-size: 11px !important;
    padding: 10px 17px !important;
}
.custom-border1 {
    height: 100%;
}
.event-title {
    display: none;
}

.event-title-mobile {
    display: block;
}

.event-calendar1 {
    float: left;
    width: 100%;
    height: 500px;
    position: relative;
}
.ci-cal-container .ci-body .ci-row>div .ci-date {
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #17263A;
    font-size: 15px;
}
.event-title-mobile {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 10px !important;
}
.event-title .title-content span h1  , .event-title .title-content span h2 {
    font-size: 20px;
    line-height: 32px;
    color: #17263A;
    font-weight: 800;
    text-transform: uppercase;
    float: none;
    width: auto;
}
.ci-cal-container {
    top: 0px;
    position: absolute;
    border: 1px solid #CCC;
    width: 100%;
    height: 100%;
}
}


/*Tablet Devices*/
@media screen and (max-width:767px) and (min-width:520px) { 

.icon-box1 {
    margin-bottom: 20px;
}

.banner-profile-image img {
    float: left;
    max-width: 130px;
}

.buttons-holder1 span {
    width: 100%;
    text-align: left;
}
.custom-container1 {
    padding: 0px 0px 0px 15px !important;
}
button.custom-btn3 {
    margin: 0px 12px 12px 0px !important;
}
.right-sidebar2 {
    padding: 30px 20px 30px 30px !important;
}
.awards-textual h3 {
    line-height: 24px !important;
    margin-bottom: 4px !important;
    font-size: 14px !important;
}
.awards-textual h2 {
    font-size: 20px !important;
}
.projects-head h2 {
    font-size: 12px !important;
    text-align: left;
    line-height: 18px !important;
    padding: 10px 0px !important;
}
.projects-card h2 {
    font-size: 13px !important;
    line-height: 16px !important;
    margin-bottom: 2px !important;
}
.projects-card p {
    font-size: 11px !important;
}
.projects-card .btn-default {
    width: 100%;
    font-size: 12px !important;
}
.projects-card {
    align-items: center;
    padding: 10px 15px;
}
.navbar.section-1-5 i::before {
    color: black !important;
    font-size: 25px !important;
}
.buttons-holder1 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.section-1-10 button {
    font-size: 11px !important;
    padding: 10px 17px !important;
}
.card-textual {
    padding-left: 60px;
    position: relative;
}
.card-textual img {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 35px;
}
.card-textual h2 {
    line-height: 20px;
    margin-top: 8px;
    display: block;
    padding: 0px !important;
    font-size: 13px !important;
}
.card-textual p {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px !important;
}
.card-textual-btn a {
    padding: 5px 0px !important;
    display: block;
    width: 100%;
    font-size: 12px !important;
}
.right-sidebar2 {
    padding: 30px 35px 30px 35px;
}
.right-sidebar2>div {
    max-width: 400px;
}


.banner-profile-image2 {
    max-width: 160px;
    margin: 15px 0px 20px 0px !important;
}
.banner-profile-title2 >div {
    margin: 0px;
}
.banner-profile-title2 h2 {
    font-size: 20px !important;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 24px;
    margin-bottom: 5px !important;
    padding-left: 0px;
    padding-top: 0px;
}
.banner-profile-title2 h3 {
 
    margin: 0px;
}




.section-2-1 {
    background: #f1f4fb;
    padding: 50px 30px 50px 30px;
}
.step-head h2 {
    padding: 0px 25px;
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 9px;
}
.section-2-6 .card-body {
    padding: 40px 22px 0px 22px!important;
}
.container-fluid select.field-style1, .container-fluid input.field-style1 {
    height: 60px !important;
    font-size: 15px !important;
    letter-spacing: 0.4px;
    color: #9A9A9A !important;
    border: 2px solid #E7E7E7 !important;
    padding: 0px 20px !important;
}
label.label-tag1 {
    position: absolute;
    background: white;
    margin-left: 20px;
    margin-top: -12px;
    font-weight: 400 !important;
    width: auto;
    text-align: center;
    z-index: 9;
    padding: 1px 7px;
    font-size: 15px !important;
    letter-spacing: 0.3px;
    color: #757575 !important;
}
.page-title-text1 {
    margin-top: 35px !important;
    margin-bottom: 10px !important;
    font-size: 25px !important;
    padding: 0px 20px !important;
}
.page-title-text3 {
    margin-top: 35px !important;
    margin-bottom: 10px !important;
    font-size: 26px !important;
    padding: 0px 20px !important;
}
.section-6-3 .card-body {
    padding: 40px 20px 50px 20px!important;
}
.form-holder1 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
}
.page-title-text2 {
    padding-top: 25px !important;
}
.table-wrapper::-webkit-scrollbar {
    width: 5px;
     height: 10px;
}
 
.table-wrapper::-webkit-scrollbar-track {
    background: #dee5f7 !important;
    height: 10px;
}
 
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #17263A;
  outline: 1px solid slategrey;
      border-radius: 15px;
}
.table-wrapper {
    overflow-x: auto;
}

.search-form1 {
    flex-wrap: wrap;
}
.search-form1>div {
    width: 32%;
    margin-bottom: 0px;
}
.search-form1 {
    flex-wrap: wrap;
    margin-bottom: 20px;
    grid-gap: 8px;
}
.normal-pad1 {
    padding: 50px 15px 50px 45px !important;
}

.event-title {
    display: none;
}

.event-title-mobile {
    display: block;
}

.event-calendar1 {
    float: left;
    width: 100%;
    height: 500px;
    position: relative;
}
.ci-cal-container .ci-body .ci-row>div .ci-date {
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #17263A;
    font-size: 15px;
}
.event-title-mobile {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 10px !important;
}
.event-title .title-content span h1  , .event-title .title-content span h2 {
    font-size: 20px;
    line-height: 32px;
    color: #17263A;
    font-weight: 800;
    text-transform: uppercase;
    float: none;
    width: auto;
}
.ci-cal-container {
    top: 0px;
    position: absolute;
    border: 1px solid #CCC;
    width: 100%;
    height: 100%;
}

}




/*Mobile Devices*/
@media screen and (max-width:519px) and (min-width:320px) { 

.icon-box1 {
    margin-bottom: 20px;
}

.banner-profile-image img {
    float: left;
    max-width: 130px;
}

.buttons-holder1 span {
    width: 100%;
    text-align: left;
}
.custom-container1 {
    padding: 0px 0px 0px 15px !important;
}
button.custom-btn3 {
    margin: 0px 12px 12px 0px !important;
}
.right-sidebar2 {
    padding: 30px 20px 30px 30px !important;
}
.awards-textual h3 {
    line-height: 24px !important;
    margin-bottom: 4px !important;
    font-size: 14px !important;
}
.awards-textual h2 {
    font-size: 20px !important;
}
.projects-head h2 {
    font-size: 12px !important;
    text-align: left;
    line-height: 18px !important;
    padding: 10px 0px !important;
}
.projects-card h2 {
    font-size: 13px !important;
    line-height: 16px !important;
    margin-bottom: 2px !important;
}
.projects-card p {
    font-size: 11px !important;
}
.projects-card .btn-default {
    width: 100%;
    font-size: 12px !important;
}
.projects-card {
    align-items: center;
    padding: 10px 15px;
}
.navbar.section-1-5 i::before {
    color: black !important;
    font-size: 25px !important;
}
.buttons-holder1 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.section-1-10 button {
    font-size: 11px !important;
    padding: 10px 17px !important;
}





.banner-profile-image2 {
    max-width: 160px;
    margin: 15px 0px 20px 0px !important;
}
.banner-profile-title2 >div {
    margin: 0px;
}
.banner-profile-title2 h2 {
    font-size: 20px !important;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 24px;
    margin-bottom: 5px !important;
    padding-left: 0px;
}
.banner-profile-title2 h3 {
 
    margin: 0px;
}



.section-2-1 {
    background: #f1f4fb;
    padding: 50px 30px 50px 30px;
}
.step-head h2 {
    padding: 0px 25px;
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 9px;
}
.section-2-6 .card-body {
    padding: 40px 22px 0px 22px!important;
}
.container-fluid select.field-style1, .container-fluid input.field-style1 {
    height: 60px !important;
    font-size: 15px !important;
    letter-spacing: 0.4px;
    color: #9A9A9A !important;
    border: 2px solid #E7E7E7 !important;
    padding: 0px 20px !important;
}
label.label-tag1 {
    position: absolute;
    background: white;
    margin-left: 20px;
    margin-top: -12px;
    font-weight: 400 !important;
    width: auto;
    text-align: center;
    z-index: 9;
    padding: 1px 7px;
    font-size: 15px !important;
    letter-spacing: 0.3px;
    color: #757575 !important;
}

.page-title-text1 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    font-size: 25px !important;
    padding: 0px 20px !important;
}
.page-title-text3 {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    font-size: 25px !important;
    padding: 0px 20px !important;
}
.section-6-3 .card-body {
    padding: 40px 20px 50px 20px!important;
}
.form-holder1 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
}

.page-title-text2 {
    font-size: 24px !important;
    letter-spacing: 0.5px;
    font-weight: 700 !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
}
.form-holder1 >div {
    margin: 0px !important;
}


p.page-para-text1 {
    padding: 0px 20px !important;
    margin-bottom: 30px !important;
}
.section-5-2 .card-body {
    padding: 35px 25px 35px 25px!important;
}


.table-wrapper::-webkit-scrollbar {
    width: 5px;
     height: 10px;
}
 
.table-wrapper::-webkit-scrollbar-track {
    background: #dee5f7 !important;
    height: 10px;
}
 
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #17263A;
  outline: 1px solid slategrey;
      border-radius: 15px;
}
.table-wrapper {
    overflow-x: auto;
}

.search-form1 {
    flex-wrap: wrap;
}
.search-form1>div {
    width: 47%;
    margin-bottom: 0px;
}
.search-form1 {
    flex-wrap: wrap;
    margin-bottom: 20px;
    grid-gap: 8px;
}
.normal-pad1 {
    padding: 50px 15px 50px 45px !important;
}

.sec-head2 h3 {
    font-size: 28px;
}

.event-title {
    display: none;
}

.event-title-mobile {
    display: block;
}

.event-calendar1 {
    float: left;
    width: 100%;
    height: 500px;
    position: relative;
}
.ci-cal-container .ci-body .ci-row>div .ci-date {
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #17263A;
    font-size: 15px;
}
.event-title-mobile {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 10px !important;
}
.event-title .title-content span h1  , .event-title .title-content span h2 {
    font-size: 20px;
    line-height: 32px;
    color: #17263A;
    font-weight: 800;
    text-transform: uppercase;
    float: none;
    width: auto;
}
.ci-cal-container {
    top: 0px;
    position: absolute;
    border: 1px solid #CCC;
    width: 100%;
    height: 100%;
}
}