.card .card-subtitle {
    font-weight: 500;
    margin-bottom: 15px;
    color: #000000;
}
.custom-btn7.danger {
    background-color: red;
}
.Paginate {
    float: right;
}
.page-item.disabled .page-link {
    color: #ffffff;
    pointer-events: none;
    cursor: auto;
    background-color: #d7d7d7;
    border-color: #dee2e6;
}
.pagination {
    padding-top: 30px;
}
.left-arrow, .rigt-arrow {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #A098AE;
    padding: 12px 20px;
    border-radius: 16px !important;
}
.left-arrow:hover, .rigt-arrow:hover {
    color: #fff;
    background-color: #a21c8d;
    border-color: transparent;
    padding: 12px 20px;
    border-radius: 16px !important;
}
.page-link-nav {
    background-color: rgba(248, 182, 2, 0.1) !important;
}

.page-link-nav:hover {
    color: #fff !important;
    background: #a21c8d !important;
    border-radius: 16px !important;
    padding: 12px 20px;
    border-color: #a21c8d;
}
.page-item.active a {
    background: #a21c8d !important;
    color: white !important;
}
.page-item.disable a {
    background: #d3d3d3 !important;
    color: white !important;
}
.page-item {
    padding: 5px;
    display: flex;
}
.page-link-nav {
    position: relative;
    margin-left: 0px;
    background-color: #fff;
    border-radius: 16px;
    padding: 12px 20px;
    align-items: center;
    border: none;
    display: unset;
    font-size: 16px;
    line-height: 27px;
    color: #2E2E2E;
}

.page-shows p{
    font-size: 12px;
}
.page-shows-col, .page-shows.nav {
    display: flex;
    align-items: center;
}
tr.danger td {
    background-color: #ffc7c7 !important;
    border-bottom: 1px solid #fff;
}
.ci-event.public.weekend {
    padding: 0px;
    display: flex;
    height: 50px;
    top: 58px;
    margin-left: 7px;
    background: #ff8d00;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 800;
}
.ci-event.public.holiday {
    padding: 0px;
    display: flex;
    height: 50px;
    top: 58px;
    margin-left: 5px;
    background: #00c9b6;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 800;
}
.ci-event.public.present {
    padding: 0px;
    display: flex;
    height: 35px;
    top: 41px;
    margin-left: 2px;
    background: #31c900;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 800;
}
.ci-event.public.absent {
    padding: 0px;
    display: flex;
    height: 50px;
    top: 58px;
    margin-left: 5px;
    background: #ff0000;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 800;
}
.ci-event.public.leave {
    padding: 0px;
    display: flex;
    height: 50px;
    top: 58px;
    margin-left: 5px;
    background: #aa00e1;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 800;
}

.ci-event.public.clock_in {
    padding: 0px;
    display: flex;
    height: 26px;
    top: 42px;
    margin-left: 2px;
    background: #0092e7;
    justify-content: flex-start;
    align-items: center;
    border: none;
    font-weight: 800;
}
.ci-cal-container .ci-head .weekend {
    background: #ffe4a8 !important;
}
.ci-cal-container .ci-body .ci-row .weekend{
    background: #ffe4a8 !important;    
}
.modal-1 .modal-body img {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.modal-1 .modal-body p {
    font-size: 15px;
    color: black;
    text-align: center;
    padding-top: 15px;
    margin: 0px !important;
    font-weight: 400;
    padding-bottom: 30px;
}
.modal-1 .modal-content {
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
}
.modal-1 .modal-content h2 {
    text-align: left;
    color: black;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid #C1BDBD;
    padding: 0px 30px 20px 30px;
}
.modal-1.close {
    color: #FF0008 !important;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 25px;
    margin-top: 20px;
}
.modal-1.modal-1.close:hover,
.modal-1.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-2 h3 {
    font-size: 18px;
    color: #1A1A1A;
    margin: 0;
    font-weight: 500;
}
.modal-3 p {
    padding: 0px !important;
    color: #2F2F2F;
    font-size: 18px !important;
    text-align: left;
    padding-bottom: 5px !important;
}
.modal-4 {
    padding-top: 50px;
    border-bottom: 2px solid #000000;
}
.modal-5 h1 {
    font-size: 22px;
    margin: 0;
    color: #1A1A1A;
    font-weight: 600;
    text-align: left;
}
.modal-6 h1 {
    font-size: 22px;
    margin: 0;
    color: #1A1A1A;
    font-weight: 600;
    text-align: right;
}

.modal-7 {
    border-bottom: 1.5px solid #B1B1B1;
}
.modal-8 h1 {
    font-size: 16px;
    margin: 0;
    color: #2F2F2F;
    font-weight: 500;
    text-align: left;
}
.modal-9 h1 {
    font-size: 16px;
    margin: 0;
    color: #2F2F2F;
    font-weight: 500;
    text-align: right;
}

.modal-10 {
    border-top: 1px solid #000000;
    margin-top: 30px;
    border-bottom: 1px solid #000000;
    background: #ECECEC;
}
.modal-11 h1 {
    font-size: 16px;
    margin: 0;
    color: #2F2F2F;
    font-weight: 700;
    text-align: right;
}

.modal-1 h4 {
    text-align: center;
    font-size: 15px;
    color: #292929;
    font-weight: 500;
    padding-top: 30px;
    margin:0px;
}
.p-60{
    padding: 60px;
}
.modal-7 td, .modal-10 td {
    padding: 0 10px;
}
.modal-8 a h1 {
    color: #2700fd;
}
.salary_snapshot ul li {
    list-style: none;
    padding: 10px 5px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    height: 29px;
}
.salary_snapshot ul {
    padding: 0;
}
.text-bold{
    font-weight: bold;
}
.text-black{
    color: #263871;
}
.salary_snapshot ul .line_break {
    border-bottom: 1px solid #e6e6e6;
    height: 0 !important;
}
.salary_snapshot .text-center {
    padding-bottom: 12px;
}
.salary_snapshot_details {
    float: right;
    margin-top: -34px;
}
.no-scroll {
    overflow-y: hidden !important;
}
li.nav-small-cap {
    color: #777 !important;
    padding: 5px 5px !important;
    border-bottom: 1px solid #777;
}